<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>


    <form action="" method="post">
      Name <input type="text" name="name" value="<%= user.name %>"><br>
      Username <input type="text" name="username" value="<%= user.username %>"><br>
      Phone <input type="text" name="phone" value="<%= user.phone %>"><br>
      Email <input type="text" name="email" value="<%= user.email %>"><br>
      Password <input type="password" name="password" value="<%= user.password %>"><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
